@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

body,
html {
  background-color: #f0f0f0;
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #1d2d44;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  background-color: white;
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #1d2d44;
  font-size: 14px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
  @media (max-width: 480px) {
    font-size: 10px;
  }
}

td {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 50px;
}

th {
  background-color: #f2f2f2;
}

input,
select,
textarea {
  border: 1px solid #aaaaaa;
  padding: 0.7rem 0.5rem;
  outline: none;
  border-radius: 4px;
  color: #545454;
  &::placeholder {
    color: #aaaaaa;
  }
}

button {
  border: 1px solid #aaaaaa;
  padding: 1rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 2rem;
  color: white;
  background-color: #3e5c76;
  border: 0;

  &.button__add {
    @media (max-width: 480px) {
      width: 60px !important;
      span {
        display: none;
      }
    }
  }

  &:hover {
    transition: all 0.3s ease;
    background-color: #1d2d44;
  }
}

.navbar {
  background-color: #3e6e76;
  padding: 0 2rem;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h4 {
    color: white;
    margin: 0;
    @media (max-width: 480px) {
      display: none;
    }
  }

  a {
    color: white;
    text-decoration: none;
    padding: 0 1rem;
    font-size: 14px;

    &:hover {
      transition: all 0.3s ease;
      color: #aaaaaa;
    }
  }
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: white;
  @media (min-width: 768px) {
    padding: 2rem 5rem;
  }
}

.form {
  &__person {
    display: flex;
    flex-direction: column;

    label {
      margin-top: 20px;
      color: #6b6b6b;
      margin-bottom: 2px;
      font-size: 14px;
    }
  }

  &__search {
    display: flex;
    flex-flow: row;
    place-content: space-between;

    input {
      width: 100%;
    }
    button {
      margin-top: 0;
      width: 200px;
      margin-left: 1rem;
    }
  }
}

.empty-message {
  color: #6b6b6b;
  font-size: 14px;
  margin-top: 20px;
  text-align: center;
  padding: 0 1rem;
}

.error-message {
  color: rgb(240, 75, 75);
  font-size: 12px;
}

.badge {
  color: #1d2d44;
  padding: 0 0.5rem;
  border-radius: 4px;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
}
