<div class="form">
  <h2>Pessoas</h2>
  <div class="form__search">
    <input type="text" search-text ng-model="searchText" placeholder="Procurar por nome.." />
    <button class="button__add" type="button" ui-sref="pessoa">+ <span>Add Pessoa</span></button>
  </div>

  <table id="dataTable">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>CPF</th>
        <th>Dt Nascimento</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in filteredPeople = (pessoas | filterByName:searchText)">
        <td>{{ item.pes_nome }}</td>
        <td>{{ item.pes_telefone | mask: '(99) 999999999' }}</td>
        <td>{{ item.pes_cpf | mask: '999.999.999-99' }}</td>
        <td>{{ item.pes_data_nascimento | date: 'dd/MM/yyyy' }}</td>
        <td>
          <a class="badge badge__edit" ui-sref="edit({ id: item.id })">Editar</a>
          <a class="badge badge__delete" ng-click="deletePessoa(item.id)">Excluir</a>
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-if="filteredPeople.length === 0 && pessoas.length" class="empty-message">
    Nenhum resultado encontrado para '{{ searchText }}'.
  </div>

  <div ng-if="pessoas.length === 0" class="empty-message">Ainda não existem pessoas cadastradas.</div>
</div>
